# CAPSTONE PROJECT-Covid 19 in London

## Problem

Without a doubt, Covid 19 is the most unfortunate event of last decades. Spreading of the disase should be controlled and people must be away from the crowded places where the virus is spreaded easily. Among the neighborhoods of London the number of cases may have a relation with the distrubition of the venues. This work will try to show this relation.

## Data


Data is provided by Greater London Authority. New and total cases were given upon daily changes for the borough of London. Data is examined as below;

    1. Data scraping ( by https://data.london.gov.uk/dataset/coronavirus--covid-19--cases )
    2. Data exploring
    3. Data arranging and filtering
    4. Model

In [2]:
!pip install beautifulsoup4
!pip install lxml
import requests 
import pandas as pd 
import numpy as np 
import random 
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim 
from IPython.display import Image 
from IPython.core.display import HTML 
from IPython.display import display_html
from pandas.io.json import json_normalize
!conda install -c conda-forge folium=0.5.0 --yes
import folium
from bs4 import BeautifulSoup
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors

print("Work completed.")

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (2.0.1)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.2)
Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Work completed.

In [3]:
df_1 = pd.read_csv("https://data.london.gov.uk/download/coronavirus--covid-19--cases/151e497c-a16e-414e-9e03-9e428f555ae9/phe_cases_london_boroughs.csv")

In [4]:
df_1.head()

              area_name  area_code        date  new_cases  total_cases
0  Barking and Dagenham  E09000002  2020-02-11          0            0
1                Barnet  E09000003  2020-02-11          0            0
2                Bexley  E09000004  2020-02-11          0            0
3                 Brent  E09000005  2020-02-11          0            0
4               Bromley  E09000006  2020-02-11          0            0

In [5]:
df_1.dtypes

area_name      object
area_code      object
date           object
new_cases       int64
total_cases     int64
dtype: object

In [6]:
df_1.shape

(5088, 5)

In [23]:
df_2 = df_1[df_1.date == '2020-07-01']

In [25]:
df_2.head()

                 area_name  area_code        date  new_cases  total_cases
4512  Barking and Dagenham  E09000002  2020-07-01          2          708
4513                Barnet  E09000003  2020-07-01          2         1587
4514                Bexley  E09000004  2020-07-01          1         1046
4515                 Brent  E09000005  2020-07-01          2         1733
4516               Bromley  E09000006  2020-07-01          0         1511

In [26]:
df_2.shape

(32, 5)

In [27]:
import os 
import numpy as np
import pandas as pd
import datetime as dt
import json

!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim

import requests 
from pandas.io.json import json_normalize 

import matplotlib.cm as cm
import matplotlib.colors as colors

!conda install -c conda-forge folium=0.5.0 --yes
import folium 

print("Work completed!")

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Work completed!

In [28]:
import pandas as pd
import numpy as np
import datetime as DT
import hmac
from geopy.geocoders import Nominatim
from sklearn.cluster import KMeans
print("work completed.")

work completed.

In [29]:
#Foursquare Creditanls
CLIENT_ID = 'VQB0X54WOZ4KLGQUHRXQBV4S4ZTN2UFIHZOULKX1T31ZVG5R' 
CLIENT_SECRET = 'ZZLKDJANTVLJ5PVQGN1ZEJTEZMPEYCCYVMTSX3WXFC1XA1SH'
VERSION = '20200721'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: VQB0X54WOZ4KLGQUHRXQBV4S4ZTN2UFIHZOULKX1T31ZVG5R
CLIENT_SECRET:ZZLKDJANTVLJ5PVQGN1ZEJTEZMPEYCCYVMTSX3WXFC1XA1SH

In [31]:
for index, item in df_2.iterrows():
    print(f"index: {index}")
    print(f"item: {item}")
    print(f"item.Street only: {item.area_name}")

index: 4512
item: area_name      Barking and Dagenham
area_code                 E09000002
date                     2020-07-01
new_cases                         2
total_cases                     708
Name: 4512, dtype: object
item.Street only: Barking and Dagenham
index: 4513
item: area_name          Barnet
area_code       E09000003
date           2020-07-01
new_cases               2
total_cases          1587
Name: 4513, dtype: object
item.Street only: Barnet
index: 4514
item: area_name          Bexley
area_code       E09000004
date           2020-07-01
new_cases               1
total_cases          1046
Name: 4514, dtype: object
item.Street only: Bexley
index: 4515
item: area_name           Brent
area_code       E09000005
date           2020-07-01
new_cases               2
total_cases          1733
Name: 4515, dtype: object
item.Street only: Brent
index: 4516
item: area_name         Bromley
area_code       E09000006
date           2020-07-01
new_cases               0
total_cases          1511
Name: 4516, dtype: object
item.Street only: Bromley
index: 4517
item: area_name          Camden
area_code       E09000007
date           2020-07-01
new_cases               1
total_cases           700
Name: 4517, dtype: object
item.Street only: Camden
index: 4518
item: area_name         Croydon
area_code       E09000008
date           2020-07-01
new_cases               1
total_cases          1846
Name: 4518, dtype: object
item.Street only: Croydon
index: 4519
item: area_name          Ealing
area_code       E09000009
date           2020-07-01
new_cases               3
total_cases          1551
Name: 4519, dtype: object
item.Street only: Ealing
index: 4520
item: area_name         Enfield
area_code       E09000010
date           2020-07-01
new_cases               1
total_cases          1176
Name: 4520, dtype: object
item.Street only: Enfield
index: 4521
item: area_name       Greenwich
area_code       E09000011
date           2020-07-01
new_cases               0
total_cases           947
Name: 4521, dtype: object
item.Street only: Greenwich
index: 4522
item: area_name      Hackney and City of London
area_code                       E09000012
date                           2020-07-01
new_cases                               3
total_cases                           804
Name: 4522, dtype: object
item.Street only: Hackney and City of London
index: 4523
item: area_name      Hammersmith and Fulham
area_code                   E09000013
date                       2020-07-01
new_cases                           1
total_cases                       752
Name: 4523, dtype: object
item.Street only: Hammersmith and Fulham
index: 4524
item: area_name        Haringey
area_code       E09000014
date           2020-07-01
new_cases               1
total_cases           743
Name: 4524, dtype: object
item.Street only: Haringey
index: 4525
item: area_name          Harrow
area_code       E09000015
date           2020-07-01
new_cases               0
total_cases          1271
Name: 4525, dtype: object
item.Street only: Harrow
index: 4526
item: area_name        Havering
area_code       E09000016
date           2020-07-01
new_cases               1
total_cases           931
Name: 4526, dtype: object
item.Street only: Havering
index: 4527
item: area_name      Hillingdon
area_code       E09000017
date           2020-07-01
new_cases               3
total_cases          1085
Name: 4527, dtype: object
item.Street only: Hillingdon
index: 4528
item: area_name        Hounslow
area_code       E09000018
date           2020-07-01
new_cases               4
total_cases          1056
Name: 4528, dtype: object
item.Street only: Hounslow
index: 4529
item: area_name       Islington
area_code       E09000019
date           2020-07-01
new_cases               1
total_cases           546
Name: 4529, dtype: object
item.Street only: Islington
index: 4530
item: area_name      Kensington and Chelsea
area_code                   E09000020
date                       2020-07-01
new_cases                           0
total_cases                       559
Name: 4530, dtype: object
item.Street only: Kensington and Chelsea
index: 4531
item: area_name      Kingston upon Thames
area_code                 E09000021
date                     2020-07-01
new_cases                         1
total_cases                     733
Name: 4531, dtype: object
item.Street only: Kingston upon Thames
index: 4532
item: area_name         Lambeth
area_code       E09000022
date           2020-07-01
new_cases               1
total_cases          1352
Name: 4532, dtype: object
item.Street only: Lambeth
index: 4533
item: area_name        Lewisham
area_code       E09000023
date           2020-07-01
new_cases               0
total_cases          1190
Name: 4533, dtype: object
item.Street only: Lewisham
index: 4534
item: area_name          Merton
area_code       E09000024
date           2020-07-01
new_cases               1
total_cases           933
Name: 4534, dtype: object
item.Street only: Merton
index: 4535
item: area_name          Newham
area_code       E09000025
date           2020-07-01
new_cases               5
total_cases          1265
Name: 4535, dtype: object
item.Street only: Newham
index: 4536
item: area_name       Redbridge
area_code       E09000026
date           2020-07-01
new_cases               2
total_cases          1103
Name: 4536, dtype: object
item.Street only: Redbridge
index: 4537
item: area_name      Richmond upon Thames
area_code                 E09000027
date                     2020-07-01
new_cases                         1
total_cases                     532
Name: 4537, dtype: object
item.Street only: Richmond upon Thames
index: 4538
item: area_name       Southwark
area_code       E09000028
date           2020-07-01
new_cases               1
total_cases          1434
Name: 4538, dtype: object
item.Street only: Southwark
index: 4539
item: area_name          Sutton
area_code       E09000029
date           2020-07-01
new_cases               1
total_cases           999
Name: 4539, dtype: object
item.Street only: Sutton
index: 4540
item: area_name      Tower Hamlets
area_code          E09000030
date              2020-07-01
new_cases                  0
total_cases              793
Name: 4540, dtype: object
item.Street only: Tower Hamlets
index: 4541
item: area_name      Waltham Forest
area_code           E09000031
date               2020-07-01
new_cases                   1
total_cases              1011
Name: 4541, dtype: object
item.Street only: Waltham Forest
index: 4542
item: area_name      Wandsworth
area_code       E09000032
date           2020-07-01
new_cases               0
total_cases          1142
Name: 4542, dtype: object
item.Street only: Wandsworth
index: 4543
item: area_name      Westminster
area_code        E09000033
date            2020-07-01
new_cases                1
total_cases            777
Name: 4543, dtype: object
item.Street only: Westminster

In [32]:
geolocator = Nominatim(user_agent="foursquare_agent")

In [35]:
df_2['Area_Coordinates'] = df_2['area_name'].apply(geolocator.geocode).apply(lambda x: (x.latitude, x.longitude))

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
df_2.head()

,area_name,area_code,date,new_cases,total_cases,Area_Coordinates
4512,Barking and Dagenham,E09000002,2020-07-01,2,708,"(51.5541171, 0.15050434261994267)"
4513,Barnet,E09000003,2020-07-01,2,1587,"(51.65309, -0.2002261)"
4514,Bexley,E09000004,2020-07-01,1,1046,"(39.9692378, -82.936864)"
4515,Brent,E09000005,2020-07-01,2,1733,"(32.9373463, -87.1647184)"
4516,Bromley,E09000006,2020-07-01,0,1511,"(51.4028046, 0.0148142)"

In [37]:
df_2.head(33)

,area_name,area_code,date,new_cases,total_cases,Area_Coordinates
4512,Barking and Dagenham,E09000002,2020-07-01,2,708,"(51.5541171, 0.15050434261994267)"
4513,Barnet,E09000003,2020-07-01,2,1587,"(51.65309, -0.2002261)"
4514,Bexley,E09000004,2020-07-01,1,1046,"(39.9692378, -82.936864)"
4515,Brent,E09000005,2020-07-01,2,1733,"(32.9373463, -87.1647184)"
4516,Bromley,E09000006,2020-07-01,0,1511,"(51.4028046, 0.0148142)"
4517,Camden,E09000007,2020-07-01,1,700,"(39.9448402, -75.1198911)"
4518,Croydon,E09000008,2020-07-01,1,1846,"(51.3713049, -0.101957)"
4519,Ealing,E09000009,2020-07-01,3,1551,"(51.5126553, -0.3051952)"
4520,Enfield,E09000010,2020-07-01,1,1176,"(51.6520851, -0.0810175)"
4521,Greenwich,E09000011,2020-07-01,0,947,"(51.4820845, -0.0045417)"
4522,Hackney and City of London,E09000012,2020-07-01,3,804,"(51.5432402, -0.0493621)"
4523,Hammersmith and Fulham,E09000013,2020-07-01,1,752,"(51.4920377, -0.2236401)"
4524,Haringey,E09000014,2020-07-01,1,743,"(51.587929849999995, -0.10541010599099046)"
4525,Harrow,E09000015,2020-07-01,0,1271,"(51.5967688, -0.33727515543507014)"
4526,Havering,E09000016,2020-07-01,1,931,"(51.0043613, -2.337474942629507)"
4527,Hillingdon,E09000017,2020-07-01,3,1085,"(51.542519299999995, -0.44833493117949663)"
4528,Hounslow,E09000018,2020-07-01,4,1056,"(51.4686132, -0.3613471)"
4529,Islington,E09000019,2020-07-01,1,546,"(51.5384287, -0.0999051)"
4530,Kensington and Chelsea,E09000020,2020-07-01,0,559,"(51.4875417, -0.1682205)"
4531,Kingston upon Thames,E09000021,2020-07-01,1,733,"(51.4096275, -0.3062621)"
4532,Lambeth,E09000022,2020-07-01,1,1352,"(51.5013012, -0.117287)"
4533,Lewisham,E09000023,2020-07-01,0,1190,"(51.4624325, -0.0101331)"
4534,Merton,E09000024,2020-07-01,1,933,"(51.410802849999996, -0.18809850595572736)"
4535,Newham,E09000025,2020-07-01,5,1265,"(51.52999955, 0.02931796029382208)"
4536,Redbridge,E09000026,2020-07-01,2,1103,"(51.5763203, 0.0454097)"
4537,Richmond upon Thames,E09000027,2020-07-01,1,532,"(51.44037225, -0.3057195504470487)"
4538,Southwark,E09000028,2020-07-01,1,1434,"(51.5029222, -0.103458)"
4539,Sutton,E09000029,2020-07-01,1,999,"(30.5672947, -100.6432359)"
4540,Tower Hamlets,E09000030,2020-07-01,0,793,"(51.1288633, 1.2986686)"
4541,Waltham Forest,E09000031,2020-07-01,1,1011,"(42.3756401, -71.2358004)"
4542,Wandsworth,E09000032,2020-07-01,0,1142,"(51.4570271, -0.1932607)"
4543,Westminster,E09000033,2020-07-01,1,777,"(51.5004439, -0.1265398)"

Here we see some coordinates irrelevant. This is because of the similarity of the names of the boroughs where exist in different cities. Let's try to add London all of the areas.

In [38]:
df_2.shape

(32, 6)

In [39]:
city=['London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London','London']

In [40]:
len(city)

32

In [41]:
df_2["City"]=city

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
df_2

,area_name,area_code,date,new_cases,total_cases,Area_Coordinates,City
4512,Barking and Dagenham,E09000002,2020-07-01,2,708,"(51.5541171, 0.15050434261994267)",London
4513,Barnet,E09000003,2020-07-01,2,1587,"(51.65309, -0.2002261)",London
4514,Bexley,E09000004,2020-07-01,1,1046,"(39.9692378, -82.936864)",London
4515,Brent,E09000005,2020-07-01,2,1733,"(32.9373463, -87.1647184)",London
4516,Bromley,E09000006,2020-07-01,0,1511,"(51.4028046, 0.0148142)",London
4517,Camden,E09000007,2020-07-01,1,700,"(39.9448402, -75.1198911)",London
4518,Croydon,E09000008,2020-07-01,1,1846,"(51.3713049, -0.101957)",London
4519,Ealing,E09000009,2020-07-01,3,1551,"(51.5126553, -0.3051952)",London
4520,Enfield,E09000010,2020-07-01,1,1176,"(51.6520851, -0.0810175)",London
4521,Greenwich,E09000011,2020-07-01,0,947,"(51.4820845, -0.0045417)",London
4522,Hackney and City of London,E09000012,2020-07-01,3,804,"(51.5432402, -0.0493621)",London
4523,Hammersmith and Fulham,E09000013,2020-07-01,1,752,"(51.4920377, -0.2236401)",London
4524,Haringey,E09000014,2020-07-01,1,743,"(51.587929849999995, -0.10541010599099046)",London
4525,Harrow,E09000015,2020-07-01,0,1271,"(51.5967688, -0.33727515543507014)",London
4526,Havering,E09000016,2020-07-01,1,931,"(51.0043613, -2.337474942629507)",London
4527,Hillingdon,E09000017,2020-07-01,3,1085,"(51.542519299999995, -0.44833493117949663)",London
4528,Hounslow,E09000018,2020-07-01,4,1056,"(51.4686132, -0.3613471)",London
4529,Islington,E09000019,2020-07-01,1,546,"(51.5384287, -0.0999051)",London
4530,Kensington and Chelsea,E09000020,2020-07-01,0,559,"(51.4875417, -0.1682205)",London
4531,Kingston upon Thames,E09000021,2020-07-01,1,733,"(51.4096275, -0.3062621)",London
4532,Lambeth,E09000022,2020-07-01,1,1352,"(51.5013012, -0.117287)",London
4533,Lewisham,E09000023,2020-07-01,0,1190,"(51.4624325, -0.0101331)",London
4534,Merton,E09000024,2020-07-01,1,933,"(51.410802849999996, -0.18809850595572736)",London
4535,Newham,E09000025,2020-07-01,5,1265,"(51.52999955, 0.02931796029382208)",London
4536,Redbridge,E09000026,2020-07-01,2,1103,"(51.5763203, 0.0454097)",London
4537,Richmond upon Thames,E09000027,2020-07-01,1,532,"(51.44037225, -0.3057195504470487)",London
4538,Southwark,E09000028,2020-07-01,1,1434,"(51.5029222, -0.103458)",London
4539,Sutton,E09000029,2020-07-01,1,999,"(30.5672947, -100.6432359)",London
4540,Tower Hamlets,E09000030,2020-07-01,0,793,"(51.1288633, 1.2986686)",London
4541,Waltham Forest,E09000031,2020-07-01,1,1011,"(42.3756401, -71.2358004)",London
4542,Wandsworth,E09000032,2020-07-01,0,1142,"(51.4570271, -0.1932607)",London
4543,Westminster,E09000033,2020-07-01,1,777,"(51.5004439, -0.1265398)",London

In [63]:
df_2['Borough'] = df_2[['area_name', 'City']].agg(', '.join, axis=1)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
df_2

,area_name,area_code,date,new_cases,total_cases,Area_Coordinates,City,Borough
4512,Barking and Dagenham,E09000002,2020-07-01,2,708,"(51.5541171, 0.15050434261994267)",London,"Barking and Dagenham, London"
4513,Barnet,E09000003,2020-07-01,2,1587,"(51.65309, -0.2002261)",London,"Barnet, London"
4514,Bexley,E09000004,2020-07-01,1,1046,"(39.9692378, -82.936864)",London,"Bexley, London"
4515,Brent,E09000005,2020-07-01,2,1733,"(32.9373463, -87.1647184)",London,"Brent, London"
4516,Bromley,E09000006,2020-07-01,0,1511,"(51.4028046, 0.0148142)",London,"Bromley, London"
4517,Camden,E09000007,2020-07-01,1,700,"(39.9448402, -75.1198911)",London,"Camden, London"
4518,Croydon,E09000008,2020-07-01,1,1846,"(51.3713049, -0.101957)",London,"Croydon, London"
4519,Ealing,E09000009,2020-07-01,3,1551,"(51.5126553, -0.3051952)",London,"Ealing, London"
4520,Enfield,E09000010,2020-07-01,1,1176,"(51.6520851, -0.0810175)",London,"Enfield, London"
4521,Greenwich,E09000011,2020-07-01,0,947,"(51.4820845, -0.0045417)",London,"Greenwich, London"
4522,Hackney and City of London,E09000012,2020-07-01,3,804,"(51.5432402, -0.0493621)",London,"Hackney and City of London, London"
4523,Hammersmith and Fulham,E09000013,2020-07-01,1,752,"(51.4920377, -0.2236401)",London,"Hammersmith and Fulham, London"
4524,Haringey,E09000014,2020-07-01,1,743,"(51.587929849999995, -0.10541010599099046)",London,"Haringey, London"
4525,Harrow,E09000015,2020-07-01,0,1271,"(51.5967688, -0.33727515543507014)",London,"Harrow, London"
4526,Havering,E09000016,2020-07-01,1,931,"(51.0043613, -2.337474942629507)",London,"Havering, London"
4527,Hillingdon,E09000017,2020-07-01,3,1085,"(51.542519299999995, -0.44833493117949663)",London,"Hillingdon, London"
4528,Hounslow,E09000018,2020-07-01,4,1056,"(51.4686132, -0.3613471)",London,"Hounslow, London"
4529,Islington,E09000019,2020-07-01,1,546,"(51.5384287, -0.0999051)",London,"Islington, London"
4530,Kensington and Chelsea,E09000020,2020-07-01,0,559,"(51.4875417, -0.1682205)",London,"Kensington and Chelsea, London"
4531,Kingston upon Thames,E09000021,2020-07-01,1,733,"(51.4096275, -0.3062621)",London,"Kingston upon Thames, London"
4532,Lambeth,E09000022,2020-07-01,1,1352,"(51.5013012, -0.117287)",London,"Lambeth, London"
4533,Lewisham,E09000023,2020-07-01,0,1190,"(51.4624325, -0.0101331)",London,"Lewisham, London"
4534,Merton,E09000024,2020-07-01,1,933,"(51.410802849999996, -0.18809850595572736)",London,"Merton, London"
4535,Newham,E09000025,2020-07-01,5,1265,"(51.52999955, 0.02931796029382208)",London,"Newham, London"
4536,Redbridge,E09000026,2020-07-01,2,1103,"(51.5763203, 0.0454097)",London,"Redbridge, London"
4537,Richmond upon Thames,E09000027,2020-07-01,1,532,"(51.44037225, -0.3057195504470487)",London,"Richmond upon Thames, London"
4538,Southwark,E09000028,2020-07-01,1,1434,"(51.5029222, -0.103458)",London,"Southwark, London"
4539,Sutton,E09000029,2020-07-01,1,999,"(30.5672947, -100.6432359)",London,"Sutton, London"
4540,Tower Hamlets,E09000030,2020-07-01,0,793,"(51.1288633, 1.2986686)",London,"Tower Hamlets, London"
4541,Waltham Forest,E09000031,2020-07-01,1,1011,"(42.3756401, -71.2358004)",London,"Waltham Forest, London"
4542,Wandsworth,E09000032,2020-07-01,0,1142,"(51.4570271, -0.1932607)",London,"Wandsworth, London"
4543,Westminster,E09000033,2020-07-01,1,777,"(51.5004439, -0.1265398)",London,"Westminster, London"

In [65]:
for index, item in df_2.iterrows():
    print(f"index: {index}")
    print(f"item: {item}")
    print(f"item.Street only: {item.Borough}")

index: 4512
item: area_name                        Barking and Dagenham
area_code                                   E09000002
date                                       2020-07-01
new_cases                                           2
total_cases                                       708
Area_Coordinates    (51.5541171, 0.15050434261994267)
City                                           London
Borough                  Barking and Dagenham, London
Name: 4512, dtype: object
item.Street only: Barking and Dagenham, London
index: 4513
item: area_name                           Barnet
area_code                        E09000003
date                            2020-07-01
new_cases                                2
total_cases                           1587
Area_Coordinates    (51.65309, -0.2002261)
City                                London
Borough                     Barnet, London
Name: 4513, dtype: object
item.Street only: Barnet, London
index: 4514
item: area_name                             Bexley
area_code                          E09000004
date                              2020-07-01
new_cases                                  1
total_cases                             1046
Area_Coordinates    (39.9692378, -82.936864)
City                                  London
Borough                       Bexley, London
Name: 4514, dtype: object
item.Street only: Bexley, London
index: 4515
item: area_name                               Brent
area_code                           E09000005
date                               2020-07-01
new_cases                                   2
total_cases                              1733
Area_Coordinates    (32.9373463, -87.1647184)
City                                   London
Borough                         Brent, London
Name: 4515, dtype: object
item.Street only: Brent, London
index: 4516
item: area_name                           Bromley
area_code                         E09000006
date                             2020-07-01
new_cases                                 0
total_cases                            1511
Area_Coordinates    (51.4028046, 0.0148142)
City                                 London
Borough                     Bromley, London
Name: 4516, dtype: object
item.Street only: Bromley, London
index: 4517
item: area_name                              Camden
area_code                           E09000007
date                               2020-07-01
new_cases                                   1
total_cases                               700
Area_Coordinates    (39.9448402, -75.1198911)
City                                   London
Borough                        Camden, London
Name: 4517, dtype: object
item.Street only: Camden, London
index: 4518
item: area_name                           Croydon
area_code                         E09000008
date                             2020-07-01
new_cases                                 1
total_cases                            1846
Area_Coordinates    (51.3713049, -0.101957)
City                                 London
Borough                     Croydon, London
Name: 4518, dtype: object
item.Street only: Croydon, London
index: 4519
item: area_name                             Ealing
area_code                          E09000009
date                              2020-07-01
new_cases                                  3
total_cases                             1551
Area_Coordinates    (51.5126553, -0.3051952)
City                                  London
Borough                       Ealing, London
Name: 4519, dtype: object
item.Street only: Ealing, London
index: 4520
item: area_name                            Enfield
area_code                          E09000010
date                              2020-07-01
new_cases                                  1
total_cases                             1176
Area_Coordinates    (51.6520851, -0.0810175)
City                                  London
Borough                      Enfield, London
Name: 4520, dtype: object
item.Street only: Enfield, London
index: 4521
item: area_name                          Greenwich
area_code                          E09000011
date                              2020-07-01
new_cases                                  0
total_cases                              947
Area_Coordinates    (51.4820845, -0.0045417)
City                                  London
Borough                    Greenwich, London
Name: 4521, dtype: object
item.Street only: Greenwich, London
index: 4522
item: area_name                   Hackney and City of London
area_code                                    E09000012
date                                        2020-07-01
new_cases                                            3
total_cases                                        804
Area_Coordinates              (51.5432402, -0.0493621)
City                                            London
Borough             Hackney and City of London, London
Name: 4522, dtype: object
item.Street only: Hackney and City of London, London
index: 4523
item: area_name                   Hammersmith and Fulham
area_code                                E09000013
date                                    2020-07-01
new_cases                                        1
total_cases                                    752
Area_Coordinates          (51.4920377, -0.2236401)
City                                        London
Borough             Hammersmith and Fulham, London
Name: 4523, dtype: object
item.Street only: Hammersmith and Fulham, London
index: 4524
item: area_name                                             Haringey
area_code                                            E09000014
date                                                2020-07-01
new_cases                                                    1
total_cases                                                743
Area_Coordinates    (51.587929849999995, -0.10541010599099046)
City                                                    London
Borough                                       Haringey, London
Name: 4524, dtype: object
item.Street only: Haringey, London
index: 4525
item: area_name                                       Harrow
area_code                                    E09000015
date                                        2020-07-01
new_cases                                            0
total_cases                                       1271
Area_Coordinates    (51.5967688, -0.33727515543507014)
City                                            London
Borough                                 Harrow, London
Name: 4525, dtype: object
item.Street only: Harrow, London
index: 4526
item: area_name                                   Havering
area_code                                  E09000016
date                                      2020-07-01
new_cases                                          1
total_cases                                      931
Area_Coordinates    (51.0043613, -2.337474942629507)
City                                          London
Borough                             Havering, London
Name: 4526, dtype: object
item.Street only: Havering, London
index: 4527
item: area_name                                           Hillingdon
area_code                                            E09000017
date                                                2020-07-01
new_cases                                                    3
total_cases                                               1085
Area_Coordinates    (51.542519299999995, -0.44833493117949663)
City                                                    London
Borough                                     Hillingdon, London
Name: 4527, dtype: object
item.Street only: Hillingdon, London
index: 4528
item: area_name                           Hounslow
area_code                          E09000018
date                              2020-07-01
new_cases                                  4
total_cases                             1056
Area_Coordinates    (51.4686132, -0.3613471)
City                                  London
Borough                     Hounslow, London
Name: 4528, dtype: object
item.Street only: Hounslow, London
index: 4529
item: area_name                          Islington
area_code                          E09000019
date                              2020-07-01
new_cases                                  1
total_cases                              546
Area_Coordinates    (51.5384287, -0.0999051)
City                                  London
Borough                    Islington, London
Name: 4529, dtype: object
item.Street only: Islington, London
index: 4530
item: area_name                   Kensington and Chelsea
area_code                                E09000020
date                                    2020-07-01
new_cases                                        0
total_cases                                    559
Area_Coordinates          (51.4875417, -0.1682205)
City                                        London
Borough             Kensington and Chelsea, London
Name: 4530, dtype: object
item.Street only: Kensington and Chelsea, London
index: 4531
item: area_name                   Kingston upon Thames
area_code                              E09000021
date                                  2020-07-01
new_cases                                      1
total_cases                                  733
Area_Coordinates        (51.4096275, -0.3062621)
City                                      London
Borough             Kingston upon Thames, London
Name: 4531, dtype: object
item.Street only: Kingston upon Thames, London
index: 4532
item: area_name                           Lambeth
area_code                         E09000022
date                             2020-07-01
new_cases                                 1
total_cases                            1352
Area_Coordinates    (51.5013012, -0.117287)
City                                 London
Borough                     Lambeth, London
Name: 4532, dtype: object
item.Street only: Lambeth, London
index: 4533
item: area_name                           Lewisham
area_code                          E09000023
date                              2020-07-01
new_cases                                  0
total_cases                             1190
Area_Coordinates    (51.4624325, -0.0101331)
City                                  London
Borough                     Lewisham, London
Name: 4533, dtype: object
item.Street only: Lewisham, London
index: 4534
item: area_name                                               Merton
area_code                                            E09000024
date                                                2020-07-01
new_cases                                                    1
total_cases                                                933
Area_Coordinates    (51.410802849999996, -0.18809850595572736)
City                                                    London
Borough                                         Merton, London
Name: 4534, dtype: object
item.Street only: Merton, London
index: 4535
item: area_name                                       Newham
area_code                                    E09000025
date                                        2020-07-01
new_cases                                            5
total_cases                                       1265
Area_Coordinates    (51.52999955, 0.02931796029382208)
City                                            London
Borough                                 Newham, London
Name: 4535, dtype: object
item.Street only: Newham, London
index: 4536
item: area_name                         Redbridge
area_code                         E09000026
date                             2020-07-01
new_cases                                 2
total_cases                            1103
Area_Coordinates    (51.5763203, 0.0454097)
City                                 London
Borough                   Redbridge, London
Name: 4536, dtype: object
item.Street only: Redbridge, London
index: 4537
item: area_name                         Richmond upon Thames
area_code                                    E09000027
date                                        2020-07-01
new_cases                                            1
total_cases                                        532
Area_Coordinates    (51.44037225, -0.3057195504470487)
City                                            London
Borough                   Richmond upon Thames, London
Name: 4537, dtype: object
item.Street only: Richmond upon Thames, London
index: 4538
item: area_name                         Southwark
area_code                         E09000028
date                             2020-07-01
new_cases                                 1
total_cases                            1434
Area_Coordinates    (51.5029222, -0.103458)
City                                 London
Borough                   Southwark, London
Name: 4538, dtype: object
item.Street only: Southwark, London
index: 4539
item: area_name                               Sutton
area_code                            E09000029
date                                2020-07-01
new_cases                                    1
total_cases                                999
Area_Coordinates    (30.5672947, -100.6432359)
City                                    London
Borough                         Sutton, London
Name: 4539, dtype: object
item.Street only: Sutton, London
index: 4540
item: area_name                     Tower Hamlets
area_code                         E09000030
date                             2020-07-01
new_cases                                 0
total_cases                             793
Area_Coordinates    (51.1288633, 1.2986686)
City                                 London
Borough               Tower Hamlets, London
Name: 4540, dtype: object
item.Street only: Tower Hamlets, London
index: 4541
item: area_name                      Waltham Forest
area_code                           E09000031
date                               2020-07-01
new_cases                                   1
total_cases                              1011
Area_Coordinates    (42.3756401, -71.2358004)
City                                   London
Borough                Waltham Forest, London
Name: 4541, dtype: object
item.Street only: Waltham Forest, London
index: 4542
item: area_name                         Wandsworth
area_code                          E09000032
date                              2020-07-01
new_cases                                  0
total_cases                             1142
Area_Coordinates    (51.4570271, -0.1932607)
City                                  London
Borough                   Wandsworth, London
Name: 4542, dtype: object
item.Street only: Wandsworth, London
index: 4543
item: area_name                        Westminster
area_code                          E09000033
date                              2020-07-01
new_cases                                  1
total_cases                              777
Area_Coordinates    (51.5004439, -0.1265398)
City                                  London
Borough                  Westminster, London
Name: 4543, dtype: object
item.Street only: Westminster, London

In [66]:
geolocator = Nominatim(user_agent="foursquare_agent")

In [67]:
df_2['Area_Coordinates'] = df_2['Borough'].apply(geolocator.geocode).apply(lambda x: (x.latitude, x.longitude))

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [68]:
df_2

,area_name,area_code,date,new_cases,total_cases,Area_Coordinates,City,Borough
4512,Barking and Dagenham,E09000002,2020-07-01,2,708,"(51.5541171, 0.15050434261994267)",London,"Barking and Dagenham, London"
4513,Barnet,E09000003,2020-07-01,2,1587,"(51.65309, -0.2002261)",London,"Barnet, London"
4514,Bexley,E09000004,2020-07-01,1,1046,"(51.4416793, 0.150488)",London,"Bexley, London"
4515,Brent,E09000005,2020-07-01,2,1733,"(51.563825800000004, -0.2757596561855699)",London,"Brent, London"
4516,Bromley,E09000006,2020-07-01,0,1511,"(51.4028046, 0.0148142)",London,"Bromley, London"
4517,Camden,E09000007,2020-07-01,1,700,"(51.5423045, -0.1395604)",London,"Camden, London"
4518,Croydon,E09000008,2020-07-01,1,1846,"(51.3713049, -0.101957)",London,"Croydon, London"
4519,Ealing,E09000009,2020-07-01,3,1551,"(51.5126553, -0.3051952)",London,"Ealing, London"
4520,Enfield,E09000010,2020-07-01,1,1176,"(51.6520851, -0.0810175)",London,"Enfield, London"
4521,Greenwich,E09000011,2020-07-01,0,947,"(51.4820845, -0.0045417)",London,"Greenwich, London"
4522,Hackney and City of London,E09000012,2020-07-01,3,804,"(51.5432402, -0.0493621)",London,"Hackney and City of London, London"
4523,Hammersmith and Fulham,E09000013,2020-07-01,1,752,"(51.4920377, -0.2236401)",London,"Hammersmith and Fulham, London"
4524,Haringey,E09000014,2020-07-01,1,743,"(51.6014893, -0.1116958)",London,"Haringey, London"
4525,Harrow,E09000015,2020-07-01,0,1271,"(51.5967688, -0.33727515543507014)",London,"Harrow, London"
4526,Havering,E09000016,2020-07-01,1,931,"(51.5443687, -0.1443031798919795)",London,"Havering, London"
4527,Hillingdon,E09000017,2020-07-01,3,1085,"(51.542519299999995, -0.44833493117949663)",London,"Hillingdon, London"
4528,Hounslow,E09000018,2020-07-01,4,1056,"(51.4686132, -0.3613471)",London,"Hounslow, London"
4529,Islington,E09000019,2020-07-01,1,546,"(51.5384287, -0.0999051)",London,"Islington, London"
4530,Kensington and Chelsea,E09000020,2020-07-01,0,559,"(51.4989948, -0.1991229)",London,"Kensington and Chelsea, London"
4531,Kingston upon Thames,E09000021,2020-07-01,1,733,"(51.4096275, -0.3062621)",London,"Kingston upon Thames, London"
4532,Lambeth,E09000022,2020-07-01,1,1352,"(51.5013012, -0.117287)",London,"Lambeth, London"
4533,Lewisham,E09000023,2020-07-01,0,1190,"(51.4624325, -0.0101331)",London,"Lewisham, London"
4534,Merton,E09000024,2020-07-01,1,933,"(51.410802849999996, -0.18809850595572736)",London,"Merton, London"
4535,Newham,E09000025,2020-07-01,5,1265,"(51.52999955, 0.02931796029382208)",London,"Newham, London"
4536,Redbridge,E09000026,2020-07-01,2,1103,"(51.5763203, 0.0454097)",London,"Redbridge, London"
4537,Richmond upon Thames,E09000027,2020-07-01,1,532,"(51.44037225, -0.3057195504470487)",London,"Richmond upon Thames, London"
4538,Southwark,E09000028,2020-07-01,1,1434,"(51.5029222, -0.103458)",London,"Southwark, London"
4539,Sutton,E09000029,2020-07-01,1,999,"(51.3575114, -0.173640122600872)",London,"Sutton, London"
4540,Tower Hamlets,E09000030,2020-07-01,0,793,"(51.5256294, -0.0335853)",London,"Tower Hamlets, London"
4541,Waltham Forest,E09000031,2020-07-01,1,1011,"(51.59816935, -0.01783667461048707)",London,"Waltham Forest, London"
4542,Wandsworth,E09000032,2020-07-01,0,1142,"(51.4570271, -0.1932607)",London,"Wandsworth, London"
4543,Westminster,E09000033,2020-07-01,1,777,"(51.5004439, -0.1265398)",London,"Westminster, London"

As it is clearly seen all the coordinates are now relevant to each other.

In [71]:
df_2[['Latitude', 'Longitude']] = df_2['Area_Coordinates'].apply(pd.Series)

In [73]:
#Cleaning unnecessary columns
df_3 = df_2.drop(columns=['Area_Coordinates'])

In [74]:
df_3

,area_name,area_code,date,new_cases,total_cases,City,Borough,Latitude,Longitude
4512,Barking and Dagenham,E09000002,2020-07-01,2,708,London,"Barking and Dagenham, London",51.554117,0.150504
4513,Barnet,E09000003,2020-07-01,2,1587,London,"Barnet, London",51.653090,-0.200226
4514,Bexley,E09000004,2020-07-01,1,1046,London,"Bexley, London",51.441679,0.150488
4515,Brent,E09000005,2020-07-01,2,1733,London,"Brent, London",51.563826,-0.275760
4516,Bromley,E09000006,2020-07-01,0,1511,London,"Bromley, London",51.402805,0.014814
4517,Camden,E09000007,2020-07-01,1,700,London,"Camden, London",51.542305,-0.139560
4518,Croydon,E09000008,2020-07-01,1,1846,London,"Croydon, London",51.371305,-0.101957
4519,Ealing,E09000009,2020-07-01,3,1551,London,"Ealing, London",51.512655,-0.305195
4520,Enfield,E09000010,2020-07-01,1,1176,London,"Enfield, London",51.652085,-0.081018
4521,Greenwich,E09000011,2020-07-01,0,947,London,"Greenwich, London",51.482084,-0.004542
4522,Hackney and City of London,E09000012,2020-07-01,3,804,London,"Hackney and City of London, London",51.543240,-0.049362
4523,Hammersmith and Fulham,E09000013,2020-07-01,1,752,London,"Hammersmith and Fulham, London",51.492038,-0.223640
4524,Haringey,E09000014,2020-07-01,1,743,London,"Haringey, London",51.601489,-0.111696
4525,Harrow,E09000015,2020-07-01,0,1271,London,"Harrow, London",51.596769,-0.337275
4526,Havering,E09000016,2020-07-01,1,931,London,"Havering, London",51.544369,-0.144303
4527,Hillingdon,E09000017,2020-07-01,3,1085,London,"Hillingdon, London",51.542519,-0.448335
4528,Hounslow,E09000018,2020-07-01,4,1056,London,"Hounslow, London",51.468613,-0.361347
4529,Islington,E09000019,2020-07-01,1,546,London,"Islington, London",51.538429,-0.099905
4530,Kensington and Chelsea,E09000020,2020-07-01,0,559,London,"Kensington and Chelsea, London",51.498995,-0.199123
4531,Kingston upon Thames,E09000021,2020-07-01,1,733,London,"Kingston upon Thames, London",51.409627,-0.306262
4532,Lambeth,E09000022,2020-07-01,1,1352,London,"Lambeth, London",51.501301,-0.117287
4533,Lewisham,E09000023,2020-07-01,0,1190,London,"Lewisham, London",51.462432,-0.010133
4534,Merton,E09000024,2020-07-01,1,933,London,"Merton, London",51.410803,-0.188099
4535,Newham,E09000025,2020-07-01,5,1265,London,"Newham, London",51.530000,0.029318
4536,Redbridge,E09000026,2020-07-01,2,1103,London,"Redbridge, London",51.576320,0.045410
4537,Richmond upon Thames,E09000027,2020-07-01,1,532,London,"Richmond upon Thames, London",51.440372,-0.305720
4538,Southwark,E09000028,2020-07-01,1,1434,London,"Southwark, London",51.502922,-0.103458
4539,Sutton,E09000029,2020-07-01,1,999,London,"Sutton, London",51.357511,-0.173640
4540,Tower Hamlets,E09000030,2020-07-01,0,793,London,"Tower Hamlets, London",51.525629,-0.033585
4541,Waltham Forest,E09000031,2020-07-01,1,1011,London,"Waltham Forest, London",51.598169,-0.017837
4542,Wandsworth,E09000032,2020-07-01,0,1142,London,"Wandsworth, London",51.457027,-0.193261
4543,Westminster,E09000033,2020-07-01,1,777,London,"Westminster, London",51.500444,-0.126540

In [75]:
address = 'London, United Kingdom'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

51.5073219 -0.1276474

In [76]:
map_london = folium.Map(location=[latitude, longitude], zoom_start=10)
for lat, lng, cases, area in zip(df_3['Latitude'], df_3['Longitude'], df_3['total_cases'], df_3['area_name']):
    label = '{}, {}'.format(area, cases)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='red',
        fill=True,
        fill_color='#YlOrRd',
        fill_opacity=0.7,
        parse_html=False).add_to(map_london)  
    
map_london

In [139]:
def getNearbyVenues(names, latitudes, longitudes, radius=500, LIMIT=100):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)

        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)

        results = requests.get(url).json()["response"]['groups'][0]['items']

        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['area_name', 
                  'Street Latitude', 
                  'Street Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [140]:
location_venues = getNearbyVenues(names=df_3['area_name'],
                                   latitudes=df_3['Latitude'],
                                   longitudes=df_3['Longitude']
                                  )

Barking and Dagenham
Barnet
Bexley
Brent
Bromley
Camden
Croydon
Ealing
Enfield
Greenwich
Hackney and City of London
Hammersmith and Fulham
Haringey
Harrow
Havering
Hillingdon
Hounslow
Islington
Kensington and Chelsea
Kingston upon Thames
Lambeth
Lewisham
Merton
Newham
Redbridge
Richmond upon Thames
Southwark
Sutton
Tower Hamlets
Waltham Forest
Wandsworth
Westminster

In [141]:
location_venues

,area_name,Street Latitude,Street Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Barking and Dagenham,51.554117,0.150504,Tesco Express,51.551536,0.152784,Grocery Store
1,Barking and Dagenham,51.554117,0.150504,Connor Road Bus Stop,51.554345,0.147162,Bus Stop
2,Barking and Dagenham,51.554117,0.150504,Oglethorpe Road Bus Stop,51.555221,0.147136,Bus Stop
3,Barking and Dagenham,51.554117,0.150504,Five Elms Off Licence,51.553878,0.145531,Liquor Store
4,Barking and Dagenham,51.554117,0.150504,Post office,51.551411,0.155003,Convenience Store
...,...,...,...,...,...,...,...
1261,Westminster,51.500444,-0.126540,Pret A Manger,51.496914,-0.129311,Sandwich Place
1262,Westminster,51.500444,-0.126540,Costa Coffee,51.499585,-0.133064,Coffee Shop
1263,Westminster,51.500444,-0.126540,Conrad Gym,51.499490,-0.132846,Gym
1264,Westminster,51.500444,-0.126540,Simplyfresh,51.499511,-0.133290,Convenience Store
1265,Westminster,51.500444,-0.126540,Flying Tiger,51.499520,-0.133514,Gift Shop

In [143]:
location_venues.groupby('area_name').count()

,Street Latitude,Street Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
area_name,,,,,,
Barking and Dagenham,5,5,5,5,5,5
Barnet,29,29,29,29,29,29
Bexley,11,11,11,11,11,11
Brent,16,16,16,16,16,16
Bromley,43,43,43,43,43,43
Camden,83,83,83,83,83,83
Croydon,23,23,23,23,23,23
Ealing,97,97,97,97,97,97
Enfield,60,60,60,60,60,60
Greenwich,60,60,60,60,60,60
Hackney and City of London,29,29,29,29,29,29
Hammersmith and Fulham,88,88,88,88,88,88
Haringey,6,6,6,6,6,6
Harrow,6,6,6,6,6,6
Havering,56,56,56,56,56,56
Hillingdon,4,4,4,4,4,4
Hounslow,54,54,54,54,54,54
Islington,73,73,73,73,73,73
Kensington and Chelsea,42,42,42,42,42,42
Kingston upon Thames,100,100,100,100,100,100
Lambeth,63,63,63,63,63,63
Lewisham,54,54,54,54,54,54
Merton,15,15,15,15,15,15
Newham,5,5,5,5,5,5
Redbridge,5,5,5,5,5,5
Richmond upon Thames,5,5,5,5,5,5
Southwark,100,100,100,100,100,100
Sutton,5,5,5,5,5,5
Tower Hamlets,39,39,39,39,39,39
Waltham Forest,4,4,4,4,4,4
Wandsworth,37,37,37,37,37,37
Westminster,49,49,49,49,49,49

In [88]:
len(location_venues['Venue Category'].unique())

224

In [144]:
venues_onehot = pd.get_dummies(location_venues[['Venue Category']], prefix="", prefix_sep="")

venues_onehot['area_name'] = location_venues['area_name'] 

fixed_columns = [venues_onehot.columns[-1]] + list(venues_onehot.columns[:-1])

venues_onehot = venues_onehot[fixed_columns]

venues_onehot.head()

,area_name,Afghan Restaurant,African Restaurant,American Restaurant,Arcade,Argentinian Restaurant,Art Gallery,Arts & Crafts Store,Arts & Entertainment,Asian Restaurant,...,Tunnel,Turkish Restaurant,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,Barking and Dagenham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Barking and Dagenham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Barking and Dagenham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Barking and Dagenham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Barking and Dagenham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [145]:
london_grouped = venues_onehot.groupby('area_name').mean().reset_index()
london_grouped

,area_name,Afghan Restaurant,African Restaurant,American Restaurant,Arcade,Argentinian Restaurant,Art Gallery,Arts & Crafts Store,Arts & Entertainment,Asian Restaurant,...,Tunnel,Turkish Restaurant,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,Barking and Dagenham,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Barnet,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Bexley,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Brent,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Bromley,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.023256,...,0.000000,0.023256,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,Camden,0.000000,0.012048,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.012048,...,0.000000,0.000000,0.024096,0.000000,0.024096,0.000000,0.000000,0.000000,0.000000,0.000000
6,Croydon,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,Ealing,0.000000,0.000000,0.010309,0.000000,0.00,0.010309,0.000000,0.000000,0.010309,...,0.000000,0.000000,0.000000,0.010309,0.020619,0.010309,0.000000,0.000000,0.000000,0.000000
8,Enfield,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.016667,0.000000,0.016667,0.000000,0.000000,0.016667,0.000000,0.016667,0.000000
9,Greenwich,0.000000,0.000000,0.000000,0.000000,0.00,0.016667,0.000000,0.000000,0.000000,...,0.016667,0.000000,0.000000,0.000000,0.000000,0.000000,0.016667,0.000000,0.000000,0.000000
10,Hackney and City of London,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.034483,0.000000,0.034483,0.034483,0.000000,0.000000,0.000000,0.034483
11,Hammersmith and Fulham,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.011364,...,0.000000,0.011364,0.011364,0.011364,0.000000,0.000000,0.000000,0.011364,0.000000,0.011364
12,Haringey,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,Harrow,0.166667,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,Havering,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.017857,0.017857,...,0.000000,0.017857,0.035714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,Hillingdon,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,Hounslow,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.018519,...,0.000000,0.000000,0.000000,0.018519,0.000000,0.000000,0.000000,0.000000,0.018519,0.000000
17,Islington,0.013699,0.000000,0.000000,0.000000,0.00,0.000000,0.027397,0.000000,0.000000,...,0.000000,0.013699,0.000000,0.000000,0.013699,0.000000,0.000000,0.000000,0.000000,0.013699
18,Kensington and Chelsea,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023810,0.000000,0.000000,0.000000
19,Kingston upon Thames,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.010000,0.000000,0.010000,...,0.000000,0.010000,0.010000,0.010000,0.010000,0.000000,0.000000,0.000000,0.010000,0.000000
20,Lambeth,0.000000,0.000000,0.000000,0.015873,0.00,0.015873,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,Lewisham,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.018519,0.000000,0.037037,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,Merton,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,Newham,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,Redbridge,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,Richmond upon Thames,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,Southwark,0.000000,0.000000,0.000000,0.000000,0.01,0.000000,0.000000,0.000000,0.010000,...,0.000000,0.020000,0.010000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000
27,Sutton,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,Tower Hamlets,0.000000,0.000000,0.000000,0.000000,0.00,0.025641,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,Waltham Forest,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
30,Wandsworth,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.027027,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,Westminster,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.020408,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [147]:
num_top_venues = 5

for hood in london_grouped['area_name']:
    print("----"+hood+"----")
    temp = london_grouped[london_grouped['area_name'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Barking and Dagenham----
               venue  freq
0           Bus Stop   0.4
1  Convenience Store   0.2
2      Grocery Store   0.2
3       Liquor Store   0.2
4        Music Venue   0.0


----Barnet----
               venue  freq
0        Coffee Shop  0.14
1               Park  0.10
2                Pub  0.07
3          Bookstore  0.07
4  Convenience Store  0.07


----Bexley----
                  venue  freq
0                   Pub  0.18
1         Train Station  0.09
2    Italian Restaurant  0.09
3      Greek Restaurant  0.09
4  Fast Food Restaurant  0.09


----Brent----
               venue  freq
0        Coffee Shop  0.19
1              Hotel  0.12
2        Supermarket  0.12
3  Indian Restaurant  0.06
4       Burger Joint  0.06


----Bromley----
                   venue  freq
0         Clothing Store  0.14
1            Coffee Shop  0.12
2            Pizza Place  0.05
3           Burger Joint  0.05
4  Portuguese Restaurant  0.05


----Camden----
                venue  freq
0                 Pub  0.10
1         Coffee Shop  0.08
2        Burger Joint  0.06
3                Café  0.05
4  Italian Restaurant  0.05


----Croydon----
                   venue  freq
0                    Pub  0.17
1            Coffee Shop  0.13
2      Indian Restaurant  0.04
3       Malay Restaurant  0.04
4  Portuguese Restaurant  0.04


----Ealing----
            venue  freq
0     Coffee Shop  0.10
1             Pub  0.06
2        Platform  0.05
3          Bakery  0.04
4  Clothing Store  0.04


----Enfield----
            venue  freq
0     Coffee Shop  0.08
1  Clothing Store  0.07
2    Optical Shop  0.05
3            Café  0.05
4             Pub  0.05


----Greenwich----
           venue  freq
0            Pub  0.08
1  Boat or Ferry  0.08
2  Grocery Store  0.03
3         Garden  0.03
4           Pier  0.03


----Hackney and City of London----
         venue  freq
0          Pub  0.10
1  Coffee Shop  0.10
2         Café  0.07
3      Brewery  0.07
4  Supermarket  0.07


----Hammersmith and Fulham----
                  venue  freq
0                   Pub  0.10
1                  Café  0.08
2           Coffee Shop  0.08
3  Gym / Fitness Center  0.05
4        Sandwich Place  0.05


----Haringey----
                  venue  freq
0     Indian Restaurant  0.17
1                   Bar  0.17
2              Bus Stop  0.17
3    Italian Restaurant  0.17
4  Fast Food Restaurant  0.17


----Harrow----
               venue  freq
0  Afghan Restaurant  0.17
1     Sandwich Place  0.17
2      Grocery Store  0.17
3        Coffee Shop  0.17
4     Clothing Store  0.17


----Havering----
            venue  freq
0            Café  0.09
1  Ice Cream Shop  0.07
2             Pub  0.07
3     Coffee Shop  0.07
4          Market  0.05


----Hillingdon----
                  venue  freq
0                   Pub  0.25
1                  Park  0.25
2  Fast Food Restaurant  0.25
3    Chinese Restaurant  0.25
4           Music Store  0.00


----Hounslow----
                  venue  freq
0        Clothing Store  0.11
1  Fast Food Restaurant  0.09
2           Coffee Shop  0.09
3         Grocery Store  0.07
4     Indian Restaurant  0.07


----Islington----
               venue  freq
0                Pub  0.11
1       Burger Joint  0.05
2             Bakery  0.05
3  French Restaurant  0.04
4               Café  0.03


----Kensington and Chelsea----
                venue  freq
0                Café  0.14
1  Italian Restaurant  0.05
2        Burger Joint  0.05
3      Clothing Store  0.05
4         Supermarket  0.05


----Kingston upon Thames----
                venue  freq
0         Coffee Shop  0.09
1      Clothing Store  0.06
2                Café  0.06
3  Italian Restaurant  0.05
4                 Pub  0.05


----Lambeth----
            venue  freq
0     Coffee Shop  0.08
1             Bar  0.06
2           Hotel  0.06
3  Sandwich Place  0.05
4            Café  0.05


----Lewisham----
                  venue  freq
0        Clothing Store  0.13
1           Supermarket  0.06
2              Pharmacy  0.06
3  Fast Food Restaurant  0.06
4           Coffee Shop  0.06


----Merton----
             venue  freq
0     Tram Station  0.20
1              Pub  0.13
2   Cricket Ground  0.07
3  Thai Restaurant  0.07
4             Farm  0.07


----Newham----
         venue  freq
0          Pub   0.6
1  Bus Station   0.2
2         Café   0.2
3         Park   0.0
4  Music Store   0.0


----Redbridge----
                         venue  freq
0  Eastern European Restaurant   0.2
1                        Hotel   0.2
2                          Pub   0.2
3                  Pizza Place   0.2
4                Metro Station   0.2


----Richmond upon Thames----
                        venue  freq
0                         Pub   0.2
1                Home Service   0.2
2          Photography Studio   0.2
3                 Bus Station   0.2
4  Construction & Landscaping   0.2


----Southwark----
                  venue  freq
0                 Hotel  0.09
1           Coffee Shop  0.08
2  Gym / Fitness Center  0.07
3                   Pub  0.07
4                   Bar  0.04


----Sutton----
                venue  freq
0                Park   0.2
1              Bakery   0.2
2       Train Station   0.2
3  Italian Restaurant   0.2
4       Grocery Store   0.2


----Tower Hamlets----
          venue  freq
0           Pub  0.13
1      Bus Stop  0.13
2   Coffee Shop  0.10
3   Pizza Place  0.05
4  Burger Joint  0.05


----Waltham Forest----
         venue  freq
0          Pub  0.25
1     Bus Stop  0.25
2          Spa  0.25
3  Auto Garage  0.25
4         Park  0.00


----Wandsworth----
            venue  freq
0  Clothing Store  0.08
1             Pub  0.08
2     Coffee Shop  0.08
3  Sandwich Place  0.05
4     Supermarket  0.05


----Westminster----
            venue  freq
0     Coffee Shop  0.10
1  Sandwich Place  0.06
2           Plaza  0.06
3          Garden  0.06
4            Café  0.06

In [93]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [148]:
num_top_venues = 7

columns = ['area_name']
for ind in np.arange(num_top_venues):
        columns.append('{}. Popular Venue'.format(ind+1))

In [149]:
venues_sorted = pd.DataFrame(columns=columns)
venues_sorted['area_name'] = london_grouped['area_name']
for ind in np.arange(london_grouped.shape[0]):
    venues_sorted.iloc[ind, 1:] = return_most_common_venues(london_grouped.iloc[ind, :], num_top_venues)

In [150]:
venues_sorted.head()

,area_name,1. Popular Venue,2. Popular Venue,3. Popular Venue,4. Popular Venue,5. Popular Venue,6. Popular Venue,7. Popular Venue
0,Barking and Dagenham,Bus Stop,Convenience Store,Liquor Store,Grocery Store,Electronics Store,Flea Market,Fish Market
1,Barnet,Coffee Shop,Park,Pharmacy,Convenience Store,Bookstore,Restaurant,Pub
2,Bexley,Pub,Breakfast Spot,Toy / Game Store,Chinese Restaurant,Fast Food Restaurant,Indian Restaurant,Greek Restaurant
3,Brent,Coffee Shop,Hotel,Supermarket,Pedestrian Plaza,Electronics Store,Sandwich Place,Café
4,Bromley,Clothing Store,Coffee Shop,Burger Joint,Gym / Fitness Center,Pizza Place,Portuguese Restaurant,Pub

In [151]:
venues_sorted.shape

(32, 8)

In [152]:
london_grouped.shape

(32, 225)

In [153]:
london_grouped=df_3

In [154]:
#we must drop non-numeric data
london_grouped_1= london_grouped.drop(columns=['Borough','City','date','area_code'])

In [155]:
kclusters = 7

london_grouped_clustering = london_grouped_1.drop('area_name', 1)

kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(london_grouped_clustering)

kmeans.labels_[0:50]

array([0, 3, 4, 2, 3, 0, 2, 3, 6, 4, 0, 0, 0, 1, 4, 6, 4, 5, 5, 0, 1, 6,
       4, 1, 6, 5, 3, 4, 0, 4, 6, 0], dtype=int32)

In [156]:
london_grouped_clustering=df_3
london_grouped_clustering.head()

,area_name,area_code,date,new_cases,total_cases,City,Borough,Latitude,Longitude,Cluster Labels
4512,Barking and Dagenham,E09000002,2020-07-01,2,708,London,"Barking and Dagenham, London",51.554117,0.150504,0
4513,Barnet,E09000003,2020-07-01,2,1587,London,"Barnet, London",51.653090,-0.200226,3
4514,Bexley,E09000004,2020-07-01,1,1046,London,"Bexley, London",51.441679,0.150488,4
4515,Brent,E09000005,2020-07-01,2,1733,London,"Brent, London",51.563826,-0.275760,2
4516,Bromley,E09000006,2020-07-01,0,1511,London,"Bromley, London",51.402805,0.014814,3

In [157]:
london_grouped_clustering.shape

(32, 10)

In [158]:
df_3.shape

(32, 10)

In [159]:
london_grouped_clustering.dtypes

area_name          object
area_code          object
date               object
new_cases           int64
total_cases         int64
City               object
Borough            object
Latitude          float64
Longitude         float64
Cluster Labels      int32
dtype: object

In [160]:
df_3.dtypes

area_name          object
area_code          object
date               object
new_cases           int64
total_cases         int64
City               object
Borough            object
Latitude          float64
Longitude         float64
Cluster Labels      int32
dtype: object

In [161]:
london_grouped_clustering['Cluster Labels'] = kmeans.labels_

london_grouped_clustering = london_grouped_clustering.join(venues_sorted.set_index('area_name'), on='area_name')

london_grouped_clustering.head()

,area_name,area_code,date,new_cases,total_cases,City,Borough,Latitude,Longitude,Cluster Labels,1. Popular Venue,2. Popular Venue,3. Popular Venue,4. Popular Venue,5. Popular Venue,6. Popular Venue,7. Popular Venue
4512,Barking and Dagenham,E09000002,2020-07-01,2,708,London,"Barking and Dagenham, London",51.554117,0.150504,0,Bus Stop,Convenience Store,Liquor Store,Grocery Store,Electronics Store,Flea Market,Fish Market
4513,Barnet,E09000003,2020-07-01,2,1587,London,"Barnet, London",51.653090,-0.200226,3,Coffee Shop,Park,Pharmacy,Convenience Store,Bookstore,Restaurant,Pub
4514,Bexley,E09000004,2020-07-01,1,1046,London,"Bexley, London",51.441679,0.150488,4,Pub,Breakfast Spot,Toy / Game Store,Chinese Restaurant,Fast Food Restaurant,Indian Restaurant,Greek Restaurant
4515,Brent,E09000005,2020-07-01,2,1733,London,"Brent, London",51.563826,-0.275760,2,Coffee Shop,Hotel,Supermarket,Pedestrian Plaza,Electronics Store,Sandwich Place,Café
4516,Bromley,E09000006,2020-07-01,0,1511,London,"Bromley, London",51.402805,0.014814,3,Clothing Store,Coffee Shop,Burger Joint,Gym / Fitness Center,Pizza Place,Portuguese Restaurant,Pub

Let's create the map!

In [163]:
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]
markers_colors = []
for lat, lon, poi, cluster in zip(london_grouped_clustering['Latitude'], london_grouped_clustering['Longitude'], london_grouped_clustering['area_name'], london_grouped_clustering['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
map_clusters

Categorizing by Clusters

In [170]:
london_grouped_clustering

,area_name,area_code,date,new_cases,total_cases,City,Borough,Latitude,Longitude,Cluster Labels,1. Popular Venue,2. Popular Venue,3. Popular Venue,4. Popular Venue,5. Popular Venue,6. Popular Venue,7. Popular Venue
4512,Barking and Dagenham,E09000002,2020-07-01,2,708,London,"Barking and Dagenham, London",51.554117,0.150504,0,Bus Stop,Convenience Store,Liquor Store,Grocery Store,Electronics Store,Flea Market,Fish Market
4513,Barnet,E09000003,2020-07-01,2,1587,London,"Barnet, London",51.653090,-0.200226,3,Coffee Shop,Park,Pharmacy,Convenience Store,Bookstore,Restaurant,Pub
4514,Bexley,E09000004,2020-07-01,1,1046,London,"Bexley, London",51.441679,0.150488,4,Pub,Breakfast Spot,Toy / Game Store,Chinese Restaurant,Fast Food Restaurant,Indian Restaurant,Greek Restaurant
4515,Brent,E09000005,2020-07-01,2,1733,London,"Brent, London",51.563826,-0.275760,2,Coffee Shop,Hotel,Supermarket,Pedestrian Plaza,Electronics Store,Sandwich Place,Café
4516,Bromley,E09000006,2020-07-01,0,1511,London,"Bromley, London",51.402805,0.014814,3,Clothing Store,Coffee Shop,Burger Joint,Gym / Fitness Center,Pizza Place,Portuguese Restaurant,Pub
4517,Camden,E09000007,2020-07-01,1,700,London,"Camden, London",51.542305,-0.139560,0,Pub,Coffee Shop,Burger Joint,Café,Italian Restaurant,Ice Cream Shop,Market
4518,Croydon,E09000008,2020-07-01,1,1846,London,"Croydon, London",51.371305,-0.101957,2,Pub,Coffee Shop,Spanish Restaurant,Sushi Restaurant,Caribbean Restaurant,Gaming Cafe,Nightclub
4519,Ealing,E09000009,2020-07-01,3,1551,London,"Ealing, London",51.512655,-0.305195,3,Coffee Shop,Pub,Platform,Clothing Store,Bakery,Italian Restaurant,Burger Joint
4520,Enfield,E09000010,2020-07-01,1,1176,London,"Enfield, London",51.652085,-0.081018,6,Coffee Shop,Clothing Store,Café,Optical Shop,Pub,Supermarket,Fish & Chips Shop
4521,Greenwich,E09000011,2020-07-01,0,947,London,"Greenwich, London",51.482084,-0.004542,4,Boat or Ferry,Pub,Grocery Store,Pier,Bakery,Burger Joint,Garden
4522,Hackney and City of London,E09000012,2020-07-01,3,804,London,"Hackney and City of London, London",51.543240,-0.049362,0,Pub,Coffee Shop,Supermarket,Brewery,Café,Yoga Studio,Sporting Goods Shop
4523,Hammersmith and Fulham,E09000013,2020-07-01,1,752,London,"Hammersmith and Fulham, London",51.492038,-0.223640,0,Pub,Café,Coffee Shop,Gym / Fitness Center,Sandwich Place,Clothing Store,Hotel
4524,Haringey,E09000014,2020-07-01,1,743,London,"Haringey, London",51.601489,-0.111696,0,Fast Food Restaurant,Indian Restaurant,Park,Italian Restaurant,Bar,Bus Stop,Fish Market
4525,Harrow,E09000015,2020-07-01,0,1271,London,"Harrow, London",51.596769,-0.337275,1,Afghan Restaurant,Clothing Store,Grocery Store,Indian Restaurant,Coffee Shop,Sandwich Place,Electronics Store
4526,Havering,E09000016,2020-07-01,1,931,London,"Havering, London",51.544369,-0.144303,4,Café,Ice Cream Shop,Pub,Coffee Shop,Market,Grocery Store,Supermarket
4527,Hillingdon,E09000017,2020-07-01,3,1085,London,"Hillingdon, London",51.542519,-0.448335,6,Pub,Fast Food Restaurant,Chinese Restaurant,Park,Yoga Studio,Eastern European Restaurant,Fish Market
4528,Hounslow,E09000018,2020-07-01,4,1056,London,"Hounslow, London",51.468613,-0.361347,4,Clothing Store,Coffee Shop,Fast Food Restaurant,Indian Restaurant,Grocery Store,Hotel,Sandwich Place
4529,Islington,E09000019,2020-07-01,1,546,London,"Islington, London",51.538429,-0.099905,5,Pub,Bakery,Burger Joint,French Restaurant,Gastropub,Arts & Crafts Store,Bookstore
4530,Kensington and Chelsea,E09000020,2020-07-01,0,559,London,"Kensington and Chelsea, London",51.498995,-0.199123,5,Café,Burger Joint,Supermarket,Cupcake Shop,Clothing Store,Pub,Italian Restaurant
4531,Kingston upon Thames,E09000021,2020-07-01,1,733,London,"Kingston upon Thames, London",51.409627,-0.306262,0,Coffee Shop,Café,Clothing Store,Italian Restaurant,Pub,Department Store,Bakery
4532,Lambeth,E09000022,2020-07-01,1,1352,London,"Lambeth, London",51.501301,-0.117287,1,Coffee Shop,Hotel,Bar,Sandwich Place,Café,Event Space,Korean Restaurant
4533,Lewisham,E09000023,2020-07-01,0,1190,London,"Lewisham, London",51.462432,-0.010133,6,Clothing Store,Fast Food Restaurant,Supermarket,Coffee Shop,Pharmacy,Platform,Café
4534,Merton,E09000024,2020-07-01,1,933,London,"Merton, London",51.410803,-0.188099,4,Tram Station,Pub,Deli / Bodega,Sushi Restaurant,Flea Market,Dessert Shop,Park
4535,Newham,E09000025,2020-07-01,5,1265,London,"Newham, London",51.530000,0.029318,1,Pub,Bus Station,Café,Yoga Studio,Electronics Store,Fish Market,Fish & Chips Shop
4536,Redbridge,E09000026,2020-07-01,2,1103,London,"Redbridge, London",51.576320,0.045410,6,Hotel,Eastern European Restaurant,Pub,Pizza Place,Metro Station,Fish Market,Fish & Chips Shop
4537,Richmond upon Thames,E09000027,2020-07-01,1,532,London,"Richmond upon Thames, London",51.440372,-0.305720,5,Construction & Landscaping,Home Service,Bus Station,Pub,Photography Studio,Donut Shop,Fish & Chips Shop
4538,Southwark,E09000028,2020-07-01,1,1434,London,"Southwark, London",51.502922,-0.103458,3,Hotel,Coffee Shop,Gym / Fitness Center,Pub,Bar,Italian Restaurant,Café
4539,Sutton,E09000029,2020-07-01,1,999,London,"Sutton, London",51.357511,-0.173640,4,Bakery,Park,Grocery Store,Train Station,Italian Restaurant,Event Space,Electronics Store
4540,Tower Hamlets,E09000030,2020-07-01,0,793,London,"Tower Hamlets, London",51.525629,-0.033585,0,Bus Stop,Pub,Coffee Shop,Café,Burger Joint,Pizza Place,Canal Lock
4541,Waltham Forest,E09000031,2020-07-01,1,1011,London,"Waltham Forest, London",51.598169,-0.017837,4,Spa,Pub,Bus Stop,Auto Garage,Yoga Studio,Electronics Store,Fish Market
4542,Wandsworth,E09000032,2020-07-01,0,1142,London,"Wandsworth, London",51.457027,-0.193261,6,Coffee Shop,Clothing Store,Pub,Gym / Fitness Center,Sandwich Place,Supermarket,Chocolate Shop
4543,Westminster,E09000033,2020-07-01,1,777,London,"Westminster, London",51.500444,-0.126540,0,Coffee Shop,Historic Site,Café,Garden,Outdoor Sculpture,Plaza,Pub

In [182]:
london_grouped_clustering_1 = london_grouped_clustering.rename(columns={'Cluster Labels': 'cluster'})

In [183]:
london_grouped_clustering_1

,area_name,area_code,date,new_cases,total_cases,City,Borough,Latitude,Longitude,cluster,1. Popular Venue,2. Popular Venue,3. Popular Venue,4. Popular Venue,5. Popular Venue,6. Popular Venue,7. Popular Venue
4512,Barking and Dagenham,E09000002,2020-07-01,2,708,London,"Barking and Dagenham, London",51.554117,0.150504,0,Bus Stop,Convenience Store,Liquor Store,Grocery Store,Electronics Store,Flea Market,Fish Market
4513,Barnet,E09000003,2020-07-01,2,1587,London,"Barnet, London",51.653090,-0.200226,3,Coffee Shop,Park,Pharmacy,Convenience Store,Bookstore,Restaurant,Pub
4514,Bexley,E09000004,2020-07-01,1,1046,London,"Bexley, London",51.441679,0.150488,4,Pub,Breakfast Spot,Toy / Game Store,Chinese Restaurant,Fast Food Restaurant,Indian Restaurant,Greek Restaurant
4515,Brent,E09000005,2020-07-01,2,1733,London,"Brent, London",51.563826,-0.275760,2,Coffee Shop,Hotel,Supermarket,Pedestrian Plaza,Electronics Store,Sandwich Place,Café
4516,Bromley,E09000006,2020-07-01,0,1511,London,"Bromley, London",51.402805,0.014814,3,Clothing Store,Coffee Shop,Burger Joint,Gym / Fitness Center,Pizza Place,Portuguese Restaurant,Pub
4517,Camden,E09000007,2020-07-01,1,700,London,"Camden, London",51.542305,-0.139560,0,Pub,Coffee Shop,Burger Joint,Café,Italian Restaurant,Ice Cream Shop,Market
4518,Croydon,E09000008,2020-07-01,1,1846,London,"Croydon, London",51.371305,-0.101957,2,Pub,Coffee Shop,Spanish Restaurant,Sushi Restaurant,Caribbean Restaurant,Gaming Cafe,Nightclub
4519,Ealing,E09000009,2020-07-01,3,1551,London,"Ealing, London",51.512655,-0.305195,3,Coffee Shop,Pub,Platform,Clothing Store,Bakery,Italian Restaurant,Burger Joint
4520,Enfield,E09000010,2020-07-01,1,1176,London,"Enfield, London",51.652085,-0.081018,6,Coffee Shop,Clothing Store,Café,Optical Shop,Pub,Supermarket,Fish & Chips Shop
4521,Greenwich,E09000011,2020-07-01,0,947,London,"Greenwich, London",51.482084,-0.004542,4,Boat or Ferry,Pub,Grocery Store,Pier,Bakery,Burger Joint,Garden
4522,Hackney and City of London,E09000012,2020-07-01,3,804,London,"Hackney and City of London, London",51.543240,-0.049362,0,Pub,Coffee Shop,Supermarket,Brewery,Café,Yoga Studio,Sporting Goods Shop
4523,Hammersmith and Fulham,E09000013,2020-07-01,1,752,London,"Hammersmith and Fulham, London",51.492038,-0.223640,0,Pub,Café,Coffee Shop,Gym / Fitness Center,Sandwich Place,Clothing Store,Hotel
4524,Haringey,E09000014,2020-07-01,1,743,London,"Haringey, London",51.601489,-0.111696,0,Fast Food Restaurant,Indian Restaurant,Park,Italian Restaurant,Bar,Bus Stop,Fish Market
4525,Harrow,E09000015,2020-07-01,0,1271,London,"Harrow, London",51.596769,-0.337275,1,Afghan Restaurant,Clothing Store,Grocery Store,Indian Restaurant,Coffee Shop,Sandwich Place,Electronics Store
4526,Havering,E09000016,2020-07-01,1,931,London,"Havering, London",51.544369,-0.144303,4,Café,Ice Cream Shop,Pub,Coffee Shop,Market,Grocery Store,Supermarket
4527,Hillingdon,E09000017,2020-07-01,3,1085,London,"Hillingdon, London",51.542519,-0.448335,6,Pub,Fast Food Restaurant,Chinese Restaurant,Park,Yoga Studio,Eastern European Restaurant,Fish Market
4528,Hounslow,E09000018,2020-07-01,4,1056,London,"Hounslow, London",51.468613,-0.361347,4,Clothing Store,Coffee Shop,Fast Food Restaurant,Indian Restaurant,Grocery Store,Hotel,Sandwich Place
4529,Islington,E09000019,2020-07-01,1,546,London,"Islington, London",51.538429,-0.099905,5,Pub,Bakery,Burger Joint,French Restaurant,Gastropub,Arts & Crafts Store,Bookstore
4530,Kensington and Chelsea,E09000020,2020-07-01,0,559,London,"Kensington and Chelsea, London",51.498995,-0.199123,5,Café,Burger Joint,Supermarket,Cupcake Shop,Clothing Store,Pub,Italian Restaurant
4531,Kingston upon Thames,E09000021,2020-07-01,1,733,London,"Kingston upon Thames, London",51.409627,-0.306262,0,Coffee Shop,Café,Clothing Store,Italian Restaurant,Pub,Department Store,Bakery
4532,Lambeth,E09000022,2020-07-01,1,1352,London,"Lambeth, London",51.501301,-0.117287,1,Coffee Shop,Hotel,Bar,Sandwich Place,Café,Event Space,Korean Restaurant
4533,Lewisham,E09000023,2020-07-01,0,1190,London,"Lewisham, London",51.462432,-0.010133,6,Clothing Store,Fast Food Restaurant,Supermarket,Coffee Shop,Pharmacy,Platform,Café
4534,Merton,E09000024,2020-07-01,1,933,London,"Merton, London",51.410803,-0.188099,4,Tram Station,Pub,Deli / Bodega,Sushi Restaurant,Flea Market,Dessert Shop,Park
4535,Newham,E09000025,2020-07-01,5,1265,London,"Newham, London",51.530000,0.029318,1,Pub,Bus Station,Café,Yoga Studio,Electronics Store,Fish Market,Fish & Chips Shop
4536,Redbridge,E09000026,2020-07-01,2,1103,London,"Redbridge, London",51.576320,0.045410,6,Hotel,Eastern European Restaurant,Pub,Pizza Place,Metro Station,Fish Market,Fish & Chips Shop
4537,Richmond upon Thames,E09000027,2020-07-01,1,532,London,"Richmond upon Thames, London",51.440372,-0.305720,5,Construction & Landscaping,Home Service,Bus Station,Pub,Photography Studio,Donut Shop,Fish & Chips Shop
4538,Southwark,E09000028,2020-07-01,1,1434,London,"Southwark, London",51.502922,-0.103458,3,Hotel,Coffee Shop,Gym / Fitness Center,Pub,Bar,Italian Restaurant,Café
4539,Sutton,E09000029,2020-07-01,1,999,London,"Sutton, London",51.357511,-0.173640,4,Bakery,Park,Grocery Store,Train Station,Italian Restaurant,Event Space,Electronics Store
4540,Tower Hamlets,E09000030,2020-07-01,0,793,London,"Tower Hamlets, London",51.525629,-0.033585,0,Bus Stop,Pub,Coffee Shop,Café,Burger Joint,Pizza Place,Canal Lock
4541,Waltham Forest,E09000031,2020-07-01,1,1011,London,"Waltham Forest, London",51.598169,-0.017837,4,Spa,Pub,Bus Stop,Auto Garage,Yoga Studio,Electronics Store,Fish Market
4542,Wandsworth,E09000032,2020-07-01,0,1142,London,"Wandsworth, London",51.457027,-0.193261,6,Coffee Shop,Clothing Store,Pub,Gym / Fitness Center,Sandwich Place,Supermarket,Chocolate Shop
4543,Westminster,E09000033,2020-07-01,1,777,London,"Westminster, London",51.500444,-0.126540,0,Coffee Shop,Historic Site,Café,Garden,Outdoor Sculpture,Plaza,Pub

In [186]:
Cluster_0=london_grouped_clustering_1[london_grouped_clustering_1.cluster == 0]
Cluster_0

,area_name,area_code,date,new_cases,total_cases,City,Borough,Latitude,Longitude,cluster,1. Popular Venue,2. Popular Venue,3. Popular Venue,4. Popular Venue,5. Popular Venue,6. Popular Venue,7. Popular Venue
4512,Barking and Dagenham,E09000002,2020-07-01,2,708,London,"Barking and Dagenham, London",51.554117,0.150504,0,Bus Stop,Convenience Store,Liquor Store,Grocery Store,Electronics Store,Flea Market,Fish Market
4517,Camden,E09000007,2020-07-01,1,700,London,"Camden, London",51.542305,-0.139560,0,Pub,Coffee Shop,Burger Joint,Café,Italian Restaurant,Ice Cream Shop,Market
4522,Hackney and City of London,E09000012,2020-07-01,3,804,London,"Hackney and City of London, London",51.543240,-0.049362,0,Pub,Coffee Shop,Supermarket,Brewery,Café,Yoga Studio,Sporting Goods Shop
4523,Hammersmith and Fulham,E09000013,2020-07-01,1,752,London,"Hammersmith and Fulham, London",51.492038,-0.223640,0,Pub,Café,Coffee Shop,Gym / Fitness Center,Sandwich Place,Clothing Store,Hotel
4524,Haringey,E09000014,2020-07-01,1,743,London,"Haringey, London",51.601489,-0.111696,0,Fast Food Restaurant,Indian Restaurant,Park,Italian Restaurant,Bar,Bus Stop,Fish Market
4531,Kingston upon Thames,E09000021,2020-07-01,1,733,London,"Kingston upon Thames, London",51.409627,-0.306262,0,Coffee Shop,Café,Clothing Store,Italian Restaurant,Pub,Department Store,Bakery
4540,Tower Hamlets,E09000030,2020-07-01,0,793,London,"Tower Hamlets, London",51.525629,-0.033585,0,Bus Stop,Pub,Coffee Shop,Café,Burger Joint,Pizza Place,Canal Lock
4543,Westminster,E09000033,2020-07-01,1,777,London,"Westminster, London",51.500444,-0.126540,0,Coffee Shop,Historic Site,Café,Garden,Outdoor Sculpture,Plaza,Pub

In [187]:
Cluster_1=london_grouped_clustering_1[london_grouped_clustering_1.cluster == 1]
Cluster_1

,area_name,area_code,date,new_cases,total_cases,City,Borough,Latitude,Longitude,cluster,1. Popular Venue,2. Popular Venue,3. Popular Venue,4. Popular Venue,5. Popular Venue,6. Popular Venue,7. Popular Venue
4525,Harrow,E09000015,2020-07-01,0,1271,London,"Harrow, London",51.596769,-0.337275,1,Afghan Restaurant,Clothing Store,Grocery Store,Indian Restaurant,Coffee Shop,Sandwich Place,Electronics Store
4532,Lambeth,E09000022,2020-07-01,1,1352,London,"Lambeth, London",51.501301,-0.117287,1,Coffee Shop,Hotel,Bar,Sandwich Place,Café,Event Space,Korean Restaurant
4535,Newham,E09000025,2020-07-01,5,1265,London,"Newham, London",51.530000,0.029318,1,Pub,Bus Station,Café,Yoga Studio,Electronics Store,Fish Market,Fish & Chips Shop

In [188]:
Cluster_2=london_grouped_clustering_1[london_grouped_clustering_1.cluster == 2]
Cluster_2

,area_name,area_code,date,new_cases,total_cases,City,Borough,Latitude,Longitude,cluster,1. Popular Venue,2. Popular Venue,3. Popular Venue,4. Popular Venue,5. Popular Venue,6. Popular Venue,7. Popular Venue
4515,Brent,E09000005,2020-07-01,2,1733,London,"Brent, London",51.563826,-0.275760,2,Coffee Shop,Hotel,Supermarket,Pedestrian Plaza,Electronics Store,Sandwich Place,Café
4518,Croydon,E09000008,2020-07-01,1,1846,London,"Croydon, London",51.371305,-0.101957,2,Pub,Coffee Shop,Spanish Restaurant,Sushi Restaurant,Caribbean Restaurant,Gaming Cafe,Nightclub

In [190]:
Cluster_3=london_grouped_clustering_1[london_grouped_clustering_1.cluster == 3]
Cluster_3

,area_name,area_code,date,new_cases,total_cases,City,Borough,Latitude,Longitude,cluster,1. Popular Venue,2. Popular Venue,3. Popular Venue,4. Popular Venue,5. Popular Venue,6. Popular Venue,7. Popular Venue
4513,Barnet,E09000003,2020-07-01,2,1587,London,"Barnet, London",51.653090,-0.200226,3,Coffee Shop,Park,Pharmacy,Convenience Store,Bookstore,Restaurant,Pub
4516,Bromley,E09000006,2020-07-01,0,1511,London,"Bromley, London",51.402805,0.014814,3,Clothing Store,Coffee Shop,Burger Joint,Gym / Fitness Center,Pizza Place,Portuguese Restaurant,Pub
4519,Ealing,E09000009,2020-07-01,3,1551,London,"Ealing, London",51.512655,-0.305195,3,Coffee Shop,Pub,Platform,Clothing Store,Bakery,Italian Restaurant,Burger Joint
4538,Southwark,E09000028,2020-07-01,1,1434,London,"Southwark, London",51.502922,-0.103458,3,Hotel,Coffee Shop,Gym / Fitness Center,Pub,Bar,Italian Restaurant,Café

In [191]:
Cluster_4=london_grouped_clustering_1[london_grouped_clustering_1.cluster == 4]
Cluster_4

,area_name,area_code,date,new_cases,total_cases,City,Borough,Latitude,Longitude,cluster,1. Popular Venue,2. Popular Venue,3. Popular Venue,4. Popular Venue,5. Popular Venue,6. Popular Venue,7. Popular Venue
4514,Bexley,E09000004,2020-07-01,1,1046,London,"Bexley, London",51.441679,0.150488,4,Pub,Breakfast Spot,Toy / Game Store,Chinese Restaurant,Fast Food Restaurant,Indian Restaurant,Greek Restaurant
4521,Greenwich,E09000011,2020-07-01,0,947,London,"Greenwich, London",51.482084,-0.004542,4,Boat or Ferry,Pub,Grocery Store,Pier,Bakery,Burger Joint,Garden
4526,Havering,E09000016,2020-07-01,1,931,London,"Havering, London",51.544369,-0.144303,4,Café,Ice Cream Shop,Pub,Coffee Shop,Market,Grocery Store,Supermarket
4528,Hounslow,E09000018,2020-07-01,4,1056,London,"Hounslow, London",51.468613,-0.361347,4,Clothing Store,Coffee Shop,Fast Food Restaurant,Indian Restaurant,Grocery Store,Hotel,Sandwich Place
4534,Merton,E09000024,2020-07-01,1,933,London,"Merton, London",51.410803,-0.188099,4,Tram Station,Pub,Deli / Bodega,Sushi Restaurant,Flea Market,Dessert Shop,Park
4539,Sutton,E09000029,2020-07-01,1,999,London,"Sutton, London",51.357511,-0.173640,4,Bakery,Park,Grocery Store,Train Station,Italian Restaurant,Event Space,Electronics Store
4541,Waltham Forest,E09000031,2020-07-01,1,1011,London,"Waltham Forest, London",51.598169,-0.017837,4,Spa,Pub,Bus Stop,Auto Garage,Yoga Studio,Electronics Store,Fish Market

In [192]:
Cluster_5=london_grouped_clustering_1[london_grouped_clustering_1.cluster == 5]
Cluster_5

,area_name,area_code,date,new_cases,total_cases,City,Borough,Latitude,Longitude,cluster,1. Popular Venue,2. Popular Venue,3. Popular Venue,4. Popular Venue,5. Popular Venue,6. Popular Venue,7. Popular Venue
4529,Islington,E09000019,2020-07-01,1,546,London,"Islington, London",51.538429,-0.099905,5,Pub,Bakery,Burger Joint,French Restaurant,Gastropub,Arts & Crafts Store,Bookstore
4530,Kensington and Chelsea,E09000020,2020-07-01,0,559,London,"Kensington and Chelsea, London",51.498995,-0.199123,5,Café,Burger Joint,Supermarket,Cupcake Shop,Clothing Store,Pub,Italian Restaurant
4537,Richmond upon Thames,E09000027,2020-07-01,1,532,London,"Richmond upon Thames, London",51.440372,-0.305720,5,Construction & Landscaping,Home Service,Bus Station,Pub,Photography Studio,Donut Shop,Fish & Chips Shop

In [193]:
Cluster_6=london_grouped_clustering_1[london_grouped_clustering_1.cluster == 6]
Cluster_6

,area_name,area_code,date,new_cases,total_cases,City,Borough,Latitude,Longitude,cluster,1. Popular Venue,2. Popular Venue,3. Popular Venue,4. Popular Venue,5. Popular Venue,6. Popular Venue,7. Popular Venue
4520,Enfield,E09000010,2020-07-01,1,1176,London,"Enfield, London",51.652085,-0.081018,6,Coffee Shop,Clothing Store,Café,Optical Shop,Pub,Supermarket,Fish & Chips Shop
4527,Hillingdon,E09000017,2020-07-01,3,1085,London,"Hillingdon, London",51.542519,-0.448335,6,Pub,Fast Food Restaurant,Chinese Restaurant,Park,Yoga Studio,Eastern European Restaurant,Fish Market
4533,Lewisham,E09000023,2020-07-01,0,1190,London,"Lewisham, London",51.462432,-0.010133,6,Clothing Store,Fast Food Restaurant,Supermarket,Coffee Shop,Pharmacy,Platform,Café
4536,Redbridge,E09000026,2020-07-01,2,1103,London,"Redbridge, London",51.576320,0.045410,6,Hotel,Eastern European Restaurant,Pub,Pizza Place,Metro Station,Fish Market,Fish & Chips Shop
4542,Wandsworth,E09000032,2020-07-01,0,1142,London,"Wandsworth, London",51.457027,-0.193261,6,Coffee Shop,Clothing Store,Pub,Gym / Fitness Center,Sandwich Place,Supermarket,Chocolate Shop

## Results

The results have been examined in 6 clusters. We can easily observe the areas where the number of cases are the most have the most popular areas as food store. This means people must pay more attention in the places where people have wear masks off.

The employees work in the food industry has to be more careful when they serve foods.

## -The end of report-